# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.device_values import DeviceValues
from .raw_client import AsyncRawMetarClient, RawMetarClient


class MetarClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawMetarClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawMetarClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawMetarClient
        """
        return self._raw_client

    def get_values(self, *, device_id: str, request_options: typing.Optional[RequestOptions] = None) -> DeviceValues:
        """
        Most `device/*` routes work identically for METAR (airport) stations by replacing the `device` prefix with `metar`.

        METAR station IDs are **ICAO codes** (4 letters), e.g. `EBBR` for Brussels Airport.

        **Supported `metar/*` routes (same request/response as their `device/*` counterparts):**
        - `GET /metar/values/{icao}` — current readings
        - `GET /metar/stats?code={icao}` — statistics
        - `GET /metar/wind?code={icao}` — wind rose
        - `GET /metar/info/{icao}` — station metadata
        - `POST /metar/ajaxupdatedate` — last update time
        - `POST /metar/ajaxprofile` — station profile
        - `POST /metar/evolution` — time-series history

        > **Not supported for METAR:** `/device/ajaxdevicestats`

        Parameters
        ----------
        device_id : str
            ICAO airport code

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeviceValues
            Same structure as `/device/values/{deviceId}`

        Examples
        --------
        from weathercloud import WeathercloudClient

        client = WeathercloudClient(
            requested_with="YOUR_REQUESTED_WITH",
        )
        client.metar.get_values(
            device_id="EBBR",
        )
        """
        _response = self._raw_client.get_values(device_id=device_id, request_options=request_options)
        return _response.data


class AsyncMetarClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawMetarClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawMetarClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawMetarClient
        """
        return self._raw_client

    async def get_values(
        self, *, device_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> DeviceValues:
        """
        Most `device/*` routes work identically for METAR (airport) stations by replacing the `device` prefix with `metar`.

        METAR station IDs are **ICAO codes** (4 letters), e.g. `EBBR` for Brussels Airport.

        **Supported `metar/*` routes (same request/response as their `device/*` counterparts):**
        - `GET /metar/values/{icao}` — current readings
        - `GET /metar/stats?code={icao}` — statistics
        - `GET /metar/wind?code={icao}` — wind rose
        - `GET /metar/info/{icao}` — station metadata
        - `POST /metar/ajaxupdatedate` — last update time
        - `POST /metar/ajaxprofile` — station profile
        - `POST /metar/evolution` — time-series history

        > **Not supported for METAR:** `/device/ajaxdevicestats`

        Parameters
        ----------
        device_id : str
            ICAO airport code

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeviceValues
            Same structure as `/device/values/{deviceId}`

        Examples
        --------
        import asyncio

        from weathercloud import AsyncWeathercloudClient

        client = AsyncWeathercloudClient(
            requested_with="YOUR_REQUESTED_WITH",
        )


        async def main() -> None:
            await client.metar.get_values(
                device_id="EBBR",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_values(device_id=device_id, request_options=request_options)
        return _response.data
