# This file was auto-generated by Fern from our API Definition.

import typing
from json.decoder import JSONDecodeError

from ..core.api_error import ApiError
from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.http_response import AsyncHttpResponse, HttpResponse
from ..core.jsonable_encoder import encode_path_param
from ..core.parse_error import ParsingError
from ..core.pydantic_utilities import parse_obj_as
from ..core.request_options import RequestOptions
from ..types.device_values import DeviceValues
from pydantic import ValidationError


class RawMetarClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._client_wrapper = client_wrapper

    def get_values(
        self, *, device_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> HttpResponse[DeviceValues]:
        """
        Most `device/*` routes work identically for METAR (airport) stations by replacing the `device` prefix with `metar`.

        METAR station IDs are **ICAO codes** (4 letters), e.g. `EBBR` for Brussels Airport.

        **Supported `metar/*` routes (same request/response as their `device/*` counterparts):**
        - `GET /metar/values/{icao}` — current readings
        - `GET /metar/stats?code={icao}` — statistics
        - `GET /metar/wind?code={icao}` — wind rose
        - `GET /metar/info/{icao}` — station metadata
        - `POST /metar/ajaxupdatedate` — last update time
        - `POST /metar/ajaxprofile` — station profile
        - `POST /metar/evolution` — time-series history

        > **Not supported for METAR:** `/device/ajaxdevicestats`

        Parameters
        ----------
        device_id : str
            ICAO airport code

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        HttpResponse[DeviceValues]
            Same structure as `/device/values/{deviceId}`
        """
        _response = self._client_wrapper.httpx_client.request(
            f"metar/values/{encode_path_param(device_id)}",
            method="GET",
            request_options=request_options,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    DeviceValues,
                    parse_obj_as(
                        type_=DeviceValues,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return HttpResponse(response=_response, data=_data)
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        except ValidationError as e:
            raise ParsingError(
                status_code=_response.status_code, headers=dict(_response.headers), body=_response.json(), cause=e
            )
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)


class AsyncRawMetarClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._client_wrapper = client_wrapper

    async def get_values(
        self, *, device_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> AsyncHttpResponse[DeviceValues]:
        """
        Most `device/*` routes work identically for METAR (airport) stations by replacing the `device` prefix with `metar`.

        METAR station IDs are **ICAO codes** (4 letters), e.g. `EBBR` for Brussels Airport.

        **Supported `metar/*` routes (same request/response as their `device/*` counterparts):**
        - `GET /metar/values/{icao}` — current readings
        - `GET /metar/stats?code={icao}` — statistics
        - `GET /metar/wind?code={icao}` — wind rose
        - `GET /metar/info/{icao}` — station metadata
        - `POST /metar/ajaxupdatedate` — last update time
        - `POST /metar/ajaxprofile` — station profile
        - `POST /metar/evolution` — time-series history

        > **Not supported for METAR:** `/device/ajaxdevicestats`

        Parameters
        ----------
        device_id : str
            ICAO airport code

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncHttpResponse[DeviceValues]
            Same structure as `/device/values/{deviceId}`
        """
        _response = await self._client_wrapper.httpx_client.request(
            f"metar/values/{encode_path_param(device_id)}",
            method="GET",
            request_options=request_options,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    DeviceValues,
                    parse_obj_as(
                        type_=DeviceValues,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return AsyncHttpResponse(response=_response, data=_data)
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        except ValidationError as e:
            raise ParsingError(
                status_code=_response.status_code, headers=dict(_response.headers), body=_response.json(), cause=e
            )
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
